/* If you're curious about this .module.css file, it's a Next.js thing where you can import css to specific components (rather than having it global).
    For more details, see https://nextjs.org/learn/dashboard-app/css-styling
*/

/* Initial state for expandable text  */
.expandableText {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 1.375rem;
    /* only slow down near the very end of the transition */
    transition: max-height 0.3s cubic-bezier(0,1,0,1); 
  }

  /* Expanded state for question content
    Max heights are as follows:
    - 1 screen for desktop 
    - 2 screens for mobile 
  */
  .expandableText.expanded {
    max-height: 200vh !important;
    /* only slow down near the very start of the transition */
    transition: max-height 0.3s cubic-bezier(1,0.05,1,0)
  }
  @media (max-width: 768px) {
    .expandableText.expanded {
      max-height: 200vh !important;
      transition: max-height 0.3s cubic-bezier(1,0.1,1,0.05)
    }
  }