name: Tests

on: pull_request

jobs:
  test:
    runs-on: ubuntu-22.04 # because the latest version (24.04) currently has compatability issues with redis-memory-server
    services:
      postgres:
        image: postgres:11.5
        env:
          POSTGRES_DB: test
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD:
        # needed because the postgres container does not provide a healthcheck
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5
        ports:
          - 5432:5432
      redis:
        image: redis
        ports:
          - 6379:6379
    steps:
      - uses: actions/checkout@v4
      - name: install node v20
        uses: actions/setup-node@v4
        with:
          node-version: 20
      - uses: bahmutov/npm-install@v1
      - run: yarn test
        env:
          POSTGRES_USER: postgres
