name: Tests

on: pull_request

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      POSTGRES_USER: postgres
      REDIS_HOST: localhost
      REDIS_PORT: 6379
      CI: "true"
    services:
      postgres:
        image: postgres:15
        env:
          POSTGRES_DB: test
          POSTGRES_USER: helpme
          POSTGRES_PASSWORD: mysecretpassword
        # needed because the postgres container does not provide a healthcheck
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5
        ports:
          - 5432:5432
      redis:
        image: redis
        ports:
          - 6379:6379
    steps:
      - uses: actions/checkout@v4
      - name: Create postgres.env from example
        run: cp packages/server/postgres.env.example packages/server/postgres.env
      - name: install node v20
        uses: actions/setup-node@v4
        with:
          node-version: 20
      - uses: bahmutov/npm-install@v1
      - run: yarn test
